$index-position: relative;

html,
body {
    height: 100%;
    width: 100%;
}

//index.html

.block {
    padding: 20px;
    margin: 20px;
    position: $index-position;
    top: 250px;
}

.text {
    position: $index-position;
    text-align: center;
}

#subtext {
    position: $index-position;
    top: -10px;
}

.data-input {
    position: $index-position;
    text-align: center;
}

#first-name {
    position: $index-position;
}

#second-name {
    position: $index-position;
    top: 5px;
}

#submit {
    position: $index-position;
    top: 25px;
}

//game.html

%block-game {
    position: absolute;
    width: 50%;
    height: 10%;
    display: flex;
    background-color: rgb(220, 249, 250);
}

#left-block {
    @extend %block-game;
    left: 0;
}

#right-block {
    @extend %block-game;
    right: 0;
}

.player {
    text-align: center;
    position: relative;
    margin: auto auto;
    height: 50px;
    width: 250px;
    background-color: rgb(130, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.nick,
.score {
    margin: auto;
}

#game {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}

%game-position {
    left: 50%;
    margin-left: -327px;
    top: 50%;
    margin-top: -327px;
}

%block-size {
    width: 654px;
    height: 654px;
}

#tic-tac-toe-block {
    @extend %game-position;
    @extend %block-size;
    position: absolute;
    background-color: aquamarine;
    border-radius: 15px;
}

#game-block {
    @extend %game-position;
    position: relative;
    border-collapse: separate;
    border-spacing: 6px;
}

.cell {
    height: 210px;
    width: 210px;
    border-right: 6px;
    padding: 6px;
    vertical-align: middle;
    z-index: 1;
}

%cross-cirlce {
    height: 198px;
    width: 198px;
}

.cross {
    @extend %cross-cirlce;
    display: none;
}

.circle {
    @extend %cross-cirlce;
    display: none;
}

#win-field {
    @extend %game-position;
    @extend %block-size;
    position: absolute;
    z-index: -1;
}

#button {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -38px;
}

@media (max-width: 670px),
(max-height: 730px) {
    #screen {
        height: 100%;
        width: 100%;
        display: none;
    }

    #info {
        position: relative;
        top: 50%;
        text-align: center;
    }
}